<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @user.title %>
</p>

<p>
  <strong>First name:</strong>
  <%= @user.first_name %>
</p>

<p>
  <strong>Middle name:</strong>
  <%= @user.middle_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @user.last_name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Mobile:</strong>
  <%= @user.mobile %>
</p>

<p>
  <strong>Gender:</strong>
  <%= @user.gender %>
</p>

<p>
  <strong>Dob:</strong>
  <%= @user.dob %>
</p>

<p>
  <strong>Password:</strong>
  <%= @user.password %>
</p>

<p>
  <strong>Country:</strong>
  <%= @user.country_id %>
</p>

<p>
  <strong>State:</strong>
  <%= @user.state_id %>
</p>

<p>
  <strong>City:</strong>
  <%= @user.city_id %>
</p>

<p>
  <strong>Location:</strong>
  <%= @user.location_id %>
</p>

<p>
  <strong>Address:</strong>
  <%= @user.address %>
</p>

<p>
  <strong>Pin code:</strong>
  <%= @user.pin_code %>
</p>

<p>
  <strong>Status:</strong>
  <%= @user.status %>
</p>

<p>
  <strong>Profile picture:</strong>
  <%= @user.profile_picture %>
</p>

<p>
  <strong>Owner:</strong>
  <%= @user.owner_id %>
</p>

<p>
  <strong>Owner type:</strong>
  <%= @user.owner_type %>
</p>

<p>
  <strong>Api key:</strong>
  <%= @user.api_key %>
</p>

<p>
  <strong>Secret:</strong>
  <%= @user.secret %>
</p>

<p>
  <strong>Creator:</strong>
  <%= @user.creator_id %>
</p>

<p>
  <strong>Updater:</strong>
  <%= @user.updater_id %>
</p>

<p>
  <strong>Deleter:</strong>
  <%= @user.deleter_id %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
